<div class="splash-container">
  <h1>CoinCanvas</h1>
  <p> 
    <%= link_to "Log in", new_user_session_path, class: "log-in" %>
    <%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
  </p>
</div>